<div class="heading">
    <h1>about us</h1>
    <p> <a routerLink="/home">home >></a> <a routerLink="/shop">Shop >></a> about </p>
</div>

<section class="about">
    <div class="content">
        <span class="welcomeHeader">welcome to our shop</span>
        <h3>fresh and organic groceries</h3>
        <div class="paragraph-container">
            <p>Welcome to our fresh and organic grocery website!</p>
            <p>We are committed to providing you with the highest quality products that are not only good for you but
                good
                for the environment as well.</p>
            <p>Our focus is on offering a wide range of fresh and organic produce, meats, dairy, and pantry staples to
                meet
                all of your grocery needs.</p>
            <p>We believe that food should be nourishing, delicious, and sustainable, and we strive to source our
                products
                from local and regional farms and producers whenever possible.</p>
            <p>Our team is passionate about healthy living and we are dedicated to bringing you the best selection of
                fresh
                and organic groceries available.</p>
            <p>Thank you for choosing us as your trusted grocery provider, and we look forward to serving you!</p>
        </div>
    </div>
</section>

<section class="gallery">

    <h1 class="title"> our gallery <a routerLink="/shop"> view all >></a> </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/images/home-image/banner-2.jpg" alt="">
        </div>

        <div class="box">
            <img src="assets/images/home-image/banner-3.jpg" alt="">
        </div>

        <div class="box">
            <img src="assets/images/home-image/ice-cream-bars-chocolate.jpg" alt="">
        </div>

        <div class="box">
            <img src="assets/images/home-image/lollipop.png" alt="">
        </div>

        <div class="box">
            <img src="assets/images/home-image/food.png" alt="">
        </div>

        <div class="box">
            <img src="assets/images/home-image/vegetables.png" alt="">
        </div>

    </div>

</section>